* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    background: #f3f3f3;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}
header {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 900px;
    margin: auto;
}
header .logo{
    display: flex;
    justify-content: center;
    background-color: #313131;
    padding: 30px 30px;       
}
header .logo h1{
    display: flex;
    justify-content: space-around;
    width: 310px;
    height: 103px;
    left: 550px;
    top: 15px;
    background: url("menuImg/Logo-Pocket308x100.png");
}
nav{
    display: flex;
    justify-items: stretch;
}
nav .barra-busqueda{
    display: flex;
    justify-self: center;
    background-color: white;
    padding: 5px 20px; 
    border: none;
}

nav .menu{
    display: flex;
    justify-content: flex-start;
    width: 36px;
    height: 35px;
    left: 190px;
    top: 125px;
    background: url("menuImg/menu-icon36x36.png");     
}
.menu:hover{
    background: url("menuImg/menu-icon36x36B.png");    
}
ul, ol {
    list-style: none;
} 
.subnavi li a{
    color: #313131;
    background-color: #ef6a2f;
    text-decoration: none;
    padding: 10px 15px;
    display: none;            
}
.subnavi li a:hover{
    background-color: #f3a07d;
}
nav > ul{
    float: left; 
}
nav .menu:hover > ul{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    align-content: flex-end;
    width: 95%;
    max-width: 900px;
    padding: 100px;
    margin: auto;
    background: #313131;
}
section{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 900px;
    margin: auto;    
}
aside{
    border: 1px solid black;
    height: 300px;
    width: 150px;
}
main{
    border: 1px solid black;
    height: 750px;
    width: 700px;
}